/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 2rem;
} */
  
.paymentConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem ;
}

.description {
  color: #274156;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title {
  color: #274156;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}